.cam-audit-page {
  //   border: 1px solid red;
  display: flex;
  flex-direction: row;
  .left-area {
    width: 35%;
    background-color: #fff;
    border-right: 1px solid #e2e8f0;
    height: 90vh;
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .breadcrumbs-sec {
      padding: 0.24rem 1rem;
      border-bottom: 1px solid #e2e8f0;
    }
  }
  .right-area {
    width: 65%;
    padding-inline: 1rem;
    height: 92.5vh;
    overflow-y: auto;
    /* Hide scrollbar for the right-area */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .cam-audit-tabs-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    .cam-audit-tabs-list-sec {
      flex: 1;
    }
    .cam-audit-tabs-buttons-sec {
      gap: 0.5rem;
      display: flex;
    }
  }

  .table-sec {
    margin-top: 1rem;
  }

  .approval-sec {
    margin-block: 1rem;
    background-color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 0.2rem;
    .MuiOutlinedInput-input {
      font-size: 0.84rem;
      font-weight: 500;
    }
  }

  .header-sec {
    font-size: 0.88rem;
    font-weight: 700;
    color: #1a202c;
    padding: 0.24rem 0.75rem;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    background-color: #ebf0f6;
  }
}
